
.container{
    display: flex;
    flex-direction:row;
    align-items: flex-start;
    justify-content: flex-end;
    /* justify-items: flex-end; */
    /* align-items: center; */
}

.item{
    width: 200px;
    margin: 10px;
    border: 3px solid #333;
    background-color: #dfdfdf;
}

.item1{
    min-height: 100px;
}

.item2{
    min-height: 200px;
}
.item3{
    min-height: 300px;
}

